useDynLib(nrbfields, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
import(stats)
import(methods)
import(magrittr)
import(glmnet)
importFrom(graphics, matplot)
importFrom(VGAM, rgpd)
import(copula)