useDynLib(nrbfields, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
import(copula)
import(glmnet)
importFrom(graphics, matplot)
import(magrittr)
import(methods)
importFrom(plyr, alply)
import(stats)
importFrom(VGAM, rgpd)
